# Core
streamlit>=1.35.0
pandas>=2.0.0
openpyxl>=3.1.0

# Export DOCX / PDF / images
python-docx>=0.8.11
reportlab>=3.6.12
Pillow>=9.0.0

# DB & sécurité
bcrypt>=4.0.1
sqlalchemy>=2.0.0

# Utilitaires
python-dateutil>=2.9.0
numpy>=1.24.0
matplotlib>=3.7.0
passlib[bcrypt]>=1.7.4

